[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

"pathlib2" = "*"
sphinx = "*"
sphinx-autobuild = "*"


[dev-packages]

tox = "*"
nose = "*"
rednose = "*"
sure = "*"
mock = "*"
twine = "*"
coverage = "*"
ipdb = "*"
sphinxcontrib-httpdomain = "*"
sphinx-jsonschema = "*"
sphinxcontrib-mermaid = "*"
sphinxcontrib-websupport = "*"


[requires]

python_version = "3.6"
